{% extends "alumnos/base.html"%}
{% load static %}

{% block title %} SHEN XING LIN {% endblock title %}

{% block section1 %}


        <!-- Content section 1-->
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="static/alumnos/assets/img/escudo.jpg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Cuerpo, mente y espíritu ...</h2>
                            <p> Son los tres elementos que deben estar en equilibrio para desarrollarse, no solo en las artes marciales sino también en los demás ambitos de la vida. En el entrenamiento que realizamos en nuestra escuela estos tres elementos estan presentes todo el tiempo guiandonos para conseguir el equilibrio. <strong>Un cuerpo sano, una mente enfocada y un espíritu en armonía... </strong>  </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section 2-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="static/alumnos/assets/img/escuela.jpg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2 class="display-4">Nuestra misión. . .</h2>
                            <p> Buscamos que los estudiantes desarrollen los valores marciales: <strong>"respeto, disciplina, humildad, integridad y autocontrol"</strong> Ya que estos principios no solo se aplican en el "tatami" sino también en  la vida cotidiana.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section 3-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="static/alumnos/assets/img/entrenar.jpg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Practicá con nosotros!</h2>
                            <p><strong>"Club Social y deportivo 12 de Octubre"  </strong> <br>Av. 12 de Octubre n° 580. Lunes y Viernes de 18:00 a 19:30 <br>
                               <strong>"Sociedad de Fomento Loma Alegre"  </strong> <br>San Luis n° 2450. Martes  18:00 a 20:00 y Miercoles de 17:00 a 20:00 </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        

        {% endblock %}